## Compiled JavaScript files
**/*.js
**/*.js.map

# ...except config files that are source we want tracked
!jest.config.js
!jest.integration.config.js
!eslint.config.js

# Typescript v1 declaration files
typings/

node_modules/