## Compiled JavaScript files
**/*.js
**/*.js.map

# ...except the Jest configs, which are source we want tracked
!jest.config.js
!jest.integration.config.js

# Typescript v1 declaration files
typings/

node_modules/