rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, create: if request.auth.uid != null;
      allow update, delete: if request.auth.uid == userId;

      match /weeks/{weekId} {
          allow read: if request.auth.uid != null;
          allow write: if request.auth.uid == userId;
        }
    }

    match /friends/{friendId} {
      allow read: if request.auth.uid != null;
      allow write: if request.auth.uid == resource.data.uid;
    }
  }
}
